@charset "UTF-8";
/* CLEMUX DESIGN SYSTEM */
/* TYPOGRAPHY
Utilisation de la mixin :
exemple d'utilisation simple :
  @include typo("title-xxl");
avec un breakpoint : (les règles associées à title-xxl-sm sont déclarées pour une taille d'écran > $bp-sm)
  @include typo("title-xxl-sm", "sm");
avec un override simple : (la propriété déclarée en override est omise)
  @include typo("title-xxl", 0, "font-family");
avec un override composé (toutes les propriétés listées sont omises) :
  @include typo("title-xxl", 0, "font-family" "font-size"); // les propriétés à omettre sont séparées par une espace
*/
/** Générer des classes border-primary-200 ou encore border-ternary-500 */
/** Génère des classes border-radius */
:root {
  --fond-du-site: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--fond-du-site);
}

/** 8px */
/** 16px */
/** 24px */
/** 32px */
/** 40px */
/** 48px */
/** 56px */
/** 64px */
/** 72px */
/** 80px */
/*
 * TYPO
 */
/** CLEMUX DESIGN SYSTEM */
/* Breakpoints */
/* Colors
* Les couleurs --wp-preset--color--* sont définies dans le fichier functions.php. On peut les faire variées directement dans Thèmes -> Personnaliser -> Couleurs
* Ici on associe ces valeurs présent dans le BO à des variables plus parlantes
*/
/** Black */
/** White */
/** Primary */
/** Secondary */
/** Tertiary */
/** Supports */
ul {
  padding-left: 0;
  width: 100%;
  max-width: 100%;
}
ul li {
  cursor: default;
  position: relative;
  color: currentColor;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  list-style-type: none;
}
ul li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center center;
  -webkit-mask-position: center center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0;
  background-color: var(--wp--preset--color--primary-700);
  margin-right: 0.5rem;
  display: none !important;
  position: absolute;
  top: 0.25rem;
  left: -1.75rem;
  width: 1rem !important;
  height: 1rem !important;
  margin-right: 0;
  background-color: currentColor;
}
.is-style-couleurs-originales ul li::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: none;
  background-color: transparent !important;
}
ul li.is-style-star::before {
  mask-image: url("../../_icons/star-3.svg");
  -webkit-mask-image: url("../../_icons/star-3.svg");
  display: inline-block !important;
}
.is-style-couleurs-originales ul li.is-style-star::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/star-3.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
ul li.is-style-square::before {
  mask-image: url("../../_icons/square-1.svg");
  -webkit-mask-image: url("../../_icons/square-1.svg");
  display: inline-block !important;
}
.is-style-couleurs-originales ul li.is-style-square::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/square-1.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
ul li.is-style-circle::before {
  mask-image: url("../../_icons/circle-1.svg");
  -webkit-mask-image: url("../../_icons/circle-1.svg");
  display: inline-block !important;
  top: 0.55rem;
  left: -1.45rem;
  width: 0.5rem !important;
  height: 0.5rem !important;
}
.is-style-couleurs-originales ul li.is-style-circle::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/circle-1.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
ul li.is-style-checked::before {
  mask-image: url("../../_icons/check-10.svg");
  -webkit-mask-image: url("../../_icons/check-10.svg");
  display: inline-block !important;
  background-color: green;
}
.is-style-couleurs-originales ul li.is-style-checked::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/check-10.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
ul li.is-style-disabled {
  color: rgb(192, 0, 0);
  cursor: not-allowed;
}
ul li.is-style-disabled::before {
  mask-image: url("../../_icons/disabled.svg");
  -webkit-mask-image: url("../../_icons/disabled.svg");
  display: inline-block !important;
  background-color: rgb(192, 0, 0);
}
.is-style-couleurs-originales ul li.is-style-disabled::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/disabled.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}

/** Pour avoir les icones dans l'éditeur */
.editor-styles-wrapper ul li.is-style-checked::before {
  mask-image: url("../../../../_icons/checked.svg");
  -webkit-mask-image: url("../../../../_icons/checked.svg");
}
.is-style-couleurs-originales .editor-styles-wrapper ul li.is-style-checked::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../../../_icons/checked.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
.editor-styles-wrapper ul li.is-style-disabled::before {
  mask-image: url("../../../../_icons/disabled.svg");
  -webkit-mask-image: url("../../../../_icons/disabled.svg");
}
.is-style-couleurs-originales .editor-styles-wrapper ul li.is-style-disabled::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../../../_icons/disabled.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}

/*# sourceMappingURL=list.css.map */
