@charset "UTF-8";
/* CLEMUX DESIGN SYSTEM */
/* TYPOGRAPHY
Utilisation de la mixin :
exemple d'utilisation simple :
  @include typo("title-xxl");
avec un breakpoint : (les règles associées à title-xxl-sm sont déclarées pour une taille d'écran > $bp-sm)
  @include typo("title-xxl-sm", "sm");
avec un override simple : (la propriété déclarée en override est omise)
  @include typo("title-xxl", 0, "font-family");
avec un override composé (toutes les propriétés listées sont omises) :
  @include typo("title-xxl", 0, "font-family" "font-size"); // les propriétés à omettre sont séparées par une espace
*/
/** Générer des classes border-primary-200 ou encore border-ternary-500 */
/** Génère des classes border-radius */
:root {
  --fond-du-site: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--fond-du-site);
}

/** 8px */
/** 16px */
/** 24px */
/** 32px */
/** 40px */
/** 48px */
/** 56px */
/** 64px */
/** 72px */
/** 80px */
/*
 * TYPO
 */
/** CLEMUX DESIGN SYSTEM */
/* Breakpoints */
/* Colors
* Les couleurs --wp-preset--color--* sont définies dans le fichier functions.php. On peut les faire variées directement dans Thèmes -> Personnaliser -> Couleurs
* Ici on associe ces valeurs présent dans le BO à des variables plus parlantes
*/
/** Black */
/** White */
/** Primary */
/** Secondary */
/** Tertiary */
/** Supports */
nav.wp-block-navigation {
  position: absolute;
  right: 1.5rem;
  bottom: var(--hauteur-breadcrumb); /** 🆘 Hauteur breadcrumb est fournit par le javascript et permet de placer correctement le bouton burger peut import si on à un breadcrumb ou pas (ex: page accueil ou autre page ) */
  z-index: 1000;
  height: 92px; /** 🆘 Cette valeur est important pour le positionnement sticky. Elle doit être égale à la hauteur du bandeau sur petit écran (si que formulaire alors hauteur du formulaire par exemple. */
  /** Bouton Burger */
  /** Navigation Principale */
  /** Menu Open */
}
@media (min-width: 600px) {
  nav.wp-block-navigation {
    position: relative;
    right: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: auto;
    background-color: var(--wp--preset--color--supports-1000);
  }
}
nav.wp-block-navigation .has-child:not(.open-on-click):hover > .wp-block-navigation-submenu.wp-block-navigation__submenu-container {
  min-width: max-content;
}
nav.wp-block-navigation button.wp-block-navigation__responsive-container-open {
  display: none !important; /** On cache le bouton burger de base de wordpress */
  position: relative;
}
nav.wp-block-navigation button.wp-block-navigation__responsive-container-open::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center center;
  -webkit-mask-position: center center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0;
  background-color: var(--wp--preset--color--primary-700);
  margin-right: 0.5rem;
  mask-image: url("../../_icons/menu-burger.svg");
  -webkit-mask-image: url("../../_icons/menu-burger.svg");
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0;
  background-color: var(--wp--preset--color--black);
}
.is-style-couleurs-originales nav.wp-block-navigation button.wp-block-navigation__responsive-container-open::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: none;
  background-color: transparent !important;
}
.is-style-couleurs-originales nav.wp-block-navigation button.wp-block-navigation__responsive-container-open::before {
  mask-image: none;
  -webkit-mask-image: none;
  background-image: url("../../_icons/menu-burger.svg");
  background-size: 100%;
  background-position: center center;
  background-color: transparent !important;
}
nav.wp-block-navigation button.wp-block-navigation__responsive-container-open:hover::before {
  background-color: var(--wp--preset--color--primary-700);
}
nav.wp-block-navigation button.wp-block-navigation__responsive-container-open svg {
  display: none;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul {
  gap: 0;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li {
  margin-left: 0;
  margin-bottom: 0;
  /** li polylang switcher */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li::before {
  display: none !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item {
  background-color: transparent;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item a,
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item span {
  color: var(--wp--preset--color--black) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover > a span {
  color: var(--wp--preset--color--white) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover > a path {
  stroke: var(--wp--preset--color--white);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item {
  background-color: var(--wp--preset--color--primary-700);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item a, nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item span {
  color: var(--wp--preset--color--white) !important;
}
@media (max-width: 600px) {
  nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul ul {
  border: none !important;
}
@media (min-width: 600px) {
  nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul ul {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li {
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.has-child {
  padding-right: 0.3rem !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a,
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li span {
  color: var(--wp--preset--color--black) !important;
  border-bottom: 2px solid transparent;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.current-menu-item, nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li.current-menu-item:hover {
  background-color: var(--wp--preset--color--primary-700);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li:hover {
  background-color: var(--wp--preset--color--primary-900);
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li:hover > a {
  color: var(--wp--preset--color--black);
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li:hover > a span {
  border-bottom: 2px solid var(--wp--preset--color--primary-900);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a {
  padding: 1rem;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a[aria-current=page] {
  color: var(--wp--preset--color--white) !important;
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a[aria-current=page] span {
  color: var(--wp--preset--color--white) !important;
  border-bottom: 2px solid transparent;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a[aria-current=page] + button path {
  stroke: var(--wp--preset--color--white);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container-content ul li a + button.wp-block-navigation__submenu-icon {
  margin-right: 0.25rem;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open {
  /** Bouton Close */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content {
  align-items: flex-start;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul {
  padding-top: 0;
  align-items: flex-start;
  /** li polylang switcher */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li {
  align-items: flex-start;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.current-menu-item {
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.current-menu-item > a {
  padding: 0.5rem;
  background-color: var(--wp--preset--color--primary-700);
  border-radius: 4px;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.current-menu-item > a span {
  color: var(--wp--preset--color--white);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item {
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item a {
  cursor: pointer;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item > a {
  background-color: var(--wp--preset--color--supports-1000);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul {
  padding-left: 3rem !important;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul li.wp-block-polylang-navigation-language-switcher.current-menu-item a:hover {
  background-color: var(--wp--preset--color--primary-700) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul li.wp-block-polylang-navigation-language-switcher.current-menu-item a:hover span {
  color: var(--wp--preset--color--white) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul li {
  width: 100%;
  margin-top: 0.2rem;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul a {
  align-items: center;
  width: 100%;
  min-height: 44px;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  /* stylelint-disable-next-line no-descending-specificity */
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul a span {
  padding-left: 0.5rem;
  font-size: 0.8rem !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul a:hover {
  background-color: var(--wp--preset--color--primary-700) !important;
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul a:hover span {
  color: var(--wp--preset--color--white) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item ul:last-child {
  margin-bottom: 4rem;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item a,
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item span {
  color: var(--wp--preset--color--black) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover {
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover > a span {
  color: var(--wp--preset--color--black) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item {
  /* stylelint-disable-next-line no-descending-specificity */
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item a, nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul li.wp-block-polylang-navigation-language-switcher.current-menu-item:hover .wp-block-polylang-navigation-language-switcher.current-menu-item span {
  color: var(--wp--preset--color--black) !important;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open button.wp-block-navigation__responsive-container-close {
  padding: 0.3rem;
  border: 1px dotted transparent;
  border-radius: 4px;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open button.wp-block-navigation__responsive-container-close svg {
  width: 2.5rem;
  height: 2.5rem;
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open button.wp-block-navigation__responsive-container-close:hover {
  border-color: var(--wp--preset--color--primary-700);
}
nav.wp-block-navigation div.wp-block-navigation__responsive-container.is-menu-open button.wp-block-navigation__responsive-container-close:hover svg {
  fill: var(--wp--preset--color--primary-700);
}

/** Navigation custom Polylang */
.wp-block-polylang-navigation-language-switcher a::after {
  display: none !important;
}

a[href="#pll_switcher"] + button {
  display: none !important;
}

/*# sourceMappingURL=navigation.css.map */
