@charset "UTF-8";
/* CLEMUX DESIGN SYSTEM */
/* TYPOGRAPHY
Utilisation de la mixin :
exemple d'utilisation simple :
  @include typo("title-xxl");
avec un breakpoint : (les règles associées à title-xxl-sm sont déclarées pour une taille d'écran > $bp-sm)
  @include typo("title-xxl-sm", "sm");
avec un override simple : (la propriété déclarée en override est omise)
  @include typo("title-xxl", 0, "font-family");
avec un override composé (toutes les propriétés listées sont omises) :
  @include typo("title-xxl", 0, "font-family" "font-size"); // les propriétés à omettre sont séparées par une espace
*/
/** Générer des classes border-primary-200 ou encore border-ternary-500 */
/** Génère des classes border-radius */
* {
  box-sizing: border-box;
}

/** 8px */
/** 16px */
/** 24px */
/** 32px */
/** 40px */
/** 48px */
/** 56px */
/** 64px */
/** 72px */
/** 80px */
/*
 * TYPO
 */
/** CLEMUX DESIGN SYSTEM */
/* Breakpoints */
/* Colors
* Les couleurs --wp-preset--color--* sont définies dans le fichier functions.php. On peut les faire variées directement dans Thèmes -> Personnaliser -> Couleurs
* Ici on associe ces valeurs présent dans le BO à des variables plus parlantes
*/
/** Black */
/** White */
/** Primary */
/** Secondary */
/** Tertiary */
/** Supports */
@keyframes chevron-bounce {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
}
#go-to-top {
  display: flex; /** Apparait automatiquement au scroll avec JS */
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  z-index: 999;
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--wp--preset--color--supports-200);
  border-radius: 100%;
  border: 6px outset var(--wp--preset--color--supports-600);
  cursor: pointer;
  opacity: 0.75;
}
@media (min-width: 600px) {
  #go-to-top {
    bottom: 2rem;
  }
}
#go-to-top::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: center center;
  -webkit-mask-position: center center;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0;
  background-color: var(--wp--preset--color--primary-700);
  margin-right: 0.5rem;
  mask-image: url("../../_icons/fleche-29.svg");
  -webkit-mask-image: url("../../_icons/fleche-29.svg");
  background-color: var(--wp--preset--color--white);
  position: absolute;
  left: 50%;
  top: 55%;
  width: 1.5625rem;
  height: 1.5625rem;
  margin: 0;
  transform: translate(-50%, -50%);
}
#go-to-top::after {
  display: none !important;
}
#go-to-top:hover {
  background-color: var(--wp--preset--color--supports-300);
  border-color: var(--wp--preset--color--primary-700);
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  /** Animation sur after ou le chevron monte et descend en boucle */
}
#go-to-top:hover::before {
  animation: chevron-bounce 1s infinite;
}

/*# sourceMappingURL=goToTop.css.map */
