@charset "UTF-8";
/* CLEMUX DESIGN SYSTEM */
/* TYPOGRAPHY
Utilisation de la mixin :
exemple d'utilisation simple :
  @include typo("title-xxl");
avec un breakpoint : (les règles associées à title-xxl-sm sont déclarées pour une taille d'écran > $bp-sm)
  @include typo("title-xxl-sm", "sm");
avec un override simple : (la propriété déclarée en override est omise)
  @include typo("title-xxl", 0, "font-family");
avec un override composé (toutes les propriétés listées sont omises) :
  @include typo("title-xxl", 0, "font-family" "font-size"); // les propriétés à omettre sont séparées par une espace
*/
/** Générer des classes border-primary-200 ou encore border-ternary-500 */
/** Génère des classes border-radius */
:root {
  --fond-du-site: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--fond-du-site);
}

/** 8px */
/** 16px */
/** 24px */
/** 32px */
/** 40px */
/** 48px */
/** 56px */
/** 64px */
/** 72px */
/** 80px */
/*
 * TYPO
 */
/** CLEMUX DESIGN SYSTEM */
/* Breakpoints */
/* Colors
* Les couleurs --wp-preset--color--* sont définies dans le fichier functions.php. On peut les faire variées directement dans Thèmes -> Personnaliser -> Couleurs
* Ici on associe ces valeurs présent dans le BO à des variables plus parlantes
*/
/** Black */
/** White */
/** Primary */
/** Secondary */
/** Tertiary */
/** Supports */
html.has-modal-open .wp-block-navigation__responsive-container {
  display: flex !important;
}

header {
  /** 🧙‍♂️ --hauteur-au-dessus-navigation-principale est fournit en javascript pas header.php */
  top: calc(-1 * var(--hauteur-au-dessus-navigation-principale)); /** Si position sticky: ajuster en fonction des taille d'écran pour que le menu soit positionner sur le bandeau des pages */
  position: unset;
  z-index: 9999;
  right: 0;
  left: 50%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: var(--wp--preset--color--white);
}
header.is-sticky {
  position: sticky;
}
header + .ocade-breadcrumbs-wrapper,
header .ocade-breadcrumbs-wrapper {
  position: relative;
}
header + .ocade-breadcrumbs-wrapper::before,
header .ocade-breadcrumbs-wrapper::before {
  position: absolute;
  top: 0;
  left: 12.5%;
  content: "";
  height: 1px;
  width: 75%;
  border-top: 1px solid var(--wp--preset--color--supports-800);
}
header + .ocade-breadcrumbs-wrapper::after,
header .ocade-breadcrumbs-wrapper::after {
  --point-size: 1rem;
  content: "";
  position: absolute;
  top: calc(-1 * var(--point-size) / 2);
  left: calc(50% - var(--point-size) / 2);
  width: var(--point-size);
  height: var(--point-size);
  background-color: var(--wp--preset--color--primary-700);
  border-radius: 100%;
}
header > .wp-block-group {
  --width-logo: 100px;
  --width-icon-search: 70px;
  --height-item-menu: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: var(--width-logo);
  padding-right: var(--width-icon-search);
  padding-top: 0;
  padding-bottom: 0;
  min-height: var(--width-logo);
}
header > .wp-block-group .wp-block-site-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: var(--width-logo);
  height: var(--width-logo);
  padding: 0;
}
header > .wp-block-group .wp-block-site-logo a {
  padding: 0;
}
header > .wp-block-group .wp-block-site-logo a::after {
  display: none !important;
}
header > .wp-block-group .wp-block-site-logo img {
  width: var(--width-logo);
  height: auto;
  object-fit: contain;
  padding: 0.5rem;
}
header > .wp-block-group .wp-block-navigation {
  align-items: stretch;
  min-height: var(--width-logo);
  background-color: transparent;
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container {
  display: flex;
  align-items: center;
  display: none;
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close {
  height: 50%;
  min-height: 100%;
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog {
  height: 100%;
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content {
  align-items: center;
  height: 100%;
  background-color: var(--wp--preset--color--white);
}
@media (max-width: 600px) {
  header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content {
    align-items: flex-start;
  }
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container {
  height: max-content;
  align-items: center;
}
@media (max-width: 600px) {
  header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li {
  height: var(--height-item-menu);
}
@media (max-width: 600px) {
  header > .wp-block-group .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__responsive-close .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li {
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
  }
}
header > .wp-block-group form.wp-block-ocade-blocks-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--width-icon-search);
}
header > .wp-block-group form.wp-block-ocade-blocks-search label {
  display: none;
}
header > .wp-block-group form.wp-block-ocade-blocks-search span {
  height: 100%;
  justify-content: flex-end;
}
header > .wp-block-group form.wp-block-ocade-blocks-search span input {
  display: none;
}
header > .wp-block-group form.wp-block-ocade-blocks-search span button {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
header > .wp-block-group .wp-block-ocade-blocks-burger-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=header.css.map */
