@import "./../config.scss";

header {
  /** 🧙‍♂️ --hauteur-au-dessus-navigation-principale est fournit en javascript pas header.php */

  top: calc(
    -1 * var(--hauteur-au-dessus-navigation-principale)
  ); /** Si position sticky: ajuster en fonction des taille d'écran pour que le menu soit positionner sur le bandeau des pages */
  position: unset;
  z-index: 9999;
  right: 0;
  left: 50%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: $white;

  &.is-header-sticky,
  &.is-breadcrumb-sticky {
    position: sticky;
  }

  > .wp-block-group {
    position: relative;
  }
}

/** Ajouter du padding autout du menu ouvert sur menu uniquement. */
@media (max-width: 600px) {
  body#header
    header
    nav.wp-block-navigation
    .is-menu-open
    div.wp-block-navigation__responsive-container-content
    ul {
    padding: 1rem;
  }
}
