
@import "../../config.scss";

.wp-block-buttons {
  column-gap: 10px;
  margin-top:    $espacement-3;
  margin-bottom: 0; 

  .wp-block-button {

    /** Border transparent + background jaune + ecriture violette */
    .wp-element-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 32px;
      color: var(--wp--preset--color--primary-500);
      background-color: var(--wp--preset--color--secondary-700);
      box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.16);
      border-radius: 100px;
      border: 1px solid transparent;
      font-weight: 600;
      opacity: .85;

      &::after { margin-right: 0 !important; }

      &:hover { opacity: 1; }
    }

    /** "Contour" Border jaune + background transparent */
    &.is-style-outline,
    &.is-style-contour-2,
    &.is-style-contour-3,
    &.is-style-contour-4 {
      .wp-element-button {
        color: var(--wp--preset--color--secondary-700);
        background-color: transparent;
        border-color: var(--wp--preset--color--secondary-700);
        box-shadow: none;
      }
    }
    /** Spécification Contour 2 */
    &.is-style-contour-2 {
      .wp-element-button {
        color: var(--wp--preset--color--primary-700);
        background-color: transparent;
        border-color: var(--wp--preset--color--primary-700);
      }
    }

    /** Border transparent + background violet + ecriture gris/blanc */
    &.is-style-variation-2,
    &.is-style-variation-3,
    &.is-style-variation-4 {
      .wp-element-button {
        color: var(--wp--preset--color--supports-1000);
        background-color: var(--wp--preset--color--primary-700);
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.16);
      }
    }
  }
}

/** UNIQUEMENT DANS GUTENBERG */
.editor-styles-wrapper {
  .wp-block-button {
    .wp-element-button {
      padding: 8px 32px;
      color: var(--wp--preset--color--primary-500);
      background-color: var(--wp--preset--color--secondary-700);
      border-radius: 100px;
    }
  }
}