@import "../../config.scss";

.wp-block-columns {
  margin-bottom: 0;

  &.is-style-espacement-0 { 
    margin-top: 0;
    margin-bottom: 0;
  }

  &.is-style-espacement-1 { 
    margin-top: $espacement-2;
    margin-bottom: $espacement-2;
  }

  &.is-style-espacement-2 { 
    margin-top: $espacement-4;
    margin-bottom: $espacement-4;
  }

  &.is-style-espacement-3 { 
    margin-top: $espacement-6;
    margin-bottom: $espacement-6;
  }

  &.is-style-espacement-4 { 
    margin-top: $espacement-8;
    margin-bottom: $espacement-8;
  }

  &.is-style-espacement-5 { 
    margin-top: $espacement-10;
    margin-bottom: $espacement-10;
  }

  /** Card Price comparatif */
  &.is-style-card-price {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;

    > .wp-block-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 300px;
      max-width: 400px;
      padding: 2rem;
      background-color: #f9f6f6;
      border: 1px solid $black;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;

      h1,h2,h3,h4,h5,h6 {
        margin: 1rem 0;
        border-bottom: 1px solid $black;

        + p {
          strong { font-size: 2rem; }
        }
      }

      ul { width: 100%;}

      a {
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 500;
        opacity: .95;

        &:hover { opacity: 1; }
      }
    }
  }
}