@import "../../config.scss";

.wp-block-group {
  padding-top: $espacement-4;
  padding-bottom: $espacement-4;

  + .wp-block-group { 
    margin-top: $espacement-4; 
    margin-bottom: $espacement-4; 
  }


  &.is-style-espacement-0 { 
    margin-top: 0;
    margin-bottom: 0;
  }

  &.is-style-espacement-1 { 
    margin-top: $espacement-2;
    margin-bottom: $espacement-2;
  }

  &.is-style-espacement-2 { 
    margin-top: $espacement-4;
    margin-bottom: $espacement-4;
  }

  &.is-style-espacement-3 { 
    margin-top: $espacement-6;
    margin-bottom: $espacement-6;
  }

  &.is-style-espacement-4 { 
    margin-top: $espacement-8;
    margin-bottom: $espacement-8;
  }

  &.is-style-espacement-5 { 
    margin-top: $espacement-10;
    margin-bottom: $espacement-10;
  }







  &.is-style-padding-top-bottom-0 { 
    padding-top: 0;
    padding-bottom: 0;
  }

  &.is-style-padding-top-bottom-1 { 
    padding-top: $espacement-2;
    padding-bottom: $espacement-2;
  }

  &.is-style-padding-top-bottom-2 { 
    padding-top: $espacement-4;
    padding-bottom: $espacement-4;
  }

  &.is-style-padding-top-bottom-3 { 
    padding-top: $espacement-6;
    padding-bottom: $espacement-6;
  }

  &.is-style-padding-top-bottom-4 { 
    padding-top: $espacement-8;
    padding-bottom: $espacement-8;
  }

  &.is-style-padding-top-bottom-5 { 
    padding-top: $espacement-10;
    padding-bottom: $espacement-10;
  }
}