@import "../../config.scss";

.wp-block-kadence-accordion {

  .kt-accordion-inner-wrap {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;

    .wp-block-kadence-pane {
      &:hover {
        .kt-accordion-header-wrap {
          .kt-blocks-accordion-title { color: $white; }
        }
      }

      .kt-accordion-header-wrap {
        .kt-accordion-panel-active {
          .kt-blocks-accordion-title { color: $white; }
        }
      }
    }
  }
}