@import "../../config.scss";

.wp-block-kadence-advancedgallery {
  $puce-size: 1rem;

  .splide {
    margin-bottom: calc(2 * $puce-size) !important;

    &:hover { button.splide__arrow { opacity: 1; } }

    ul.splide__pagination {
      bottom: calc(-2 * $puce-size) !important;
      column-gap: .5rem;
      margin: auto;

      li {
        display: flex;

        button {
          width: $puce-size !important;
          height: $puce-size !important;
          margin: 0;
        }
      }
    }

    /** Flèches */
    button.splide__arrow {
      width: calc(2 * $puce-size) !important;
      height: calc(2 * $puce-size) !important;
      background-color: $primary-700 !important;
      border-radius: 100% !important;
      opacity: .5;
      transition: .2s;


      &.slick-prev { left: calc(.5 * $puce-size) !important; }
      &.slick-next { right: calc(.5 * $puce-size) !important; }

      svg { fill: $white !important; }
    }
  }
}