@import "../../config.scss";

.wp-block-kadence-testimonials {
  padding: 2rem;
  
  .kt-testimonial-item-wrap {
    .kt-testimonial-text-wrap {
      border-radius: 100px 8px;
      background-color: $primary-900;
      border: none;

      .kt-testimonial-media-wrap {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate3d(50%,-50%,0);

        .kt-testimonial-media-inner-wrap { margin: 0; }
      }

      .kt-testimonial-title-wrap {

        .kt-testimonial-title {
          font-size: 1rem;
          padding: 0 1.75rem;
        }
      }

      .kt-testimonial-content-wrap { padding: 0 1.75rem; }

      &::after { display: none; }
    }

    .kt-testimonial-meta-wrap { padding-left: 0; }
  }
}