@import "./config.scss";

header {
  /** 🧙‍♂️ --hauteur-au-dessus-navigation-principale est fournit en javascript pas header.php */
 
  top: calc(-1 * var(--hauteur-au-dessus-navigation-principale)); /** Si position sticky: ajuster en fonction des taille d'écran pour que le menu soit positionner sur le bandeau des pages */
  position: unset;
  z-index: 9999;
  right: 0;
  left: 50%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: $white;

  &.is-sticky { position: sticky; }
}