@import "./config.scss";

header {
  /** 🧙‍♂️ --hauteur-au-dessus-navigation-principale est fournit en javascript pas header.php */

  top: calc(-1 * var(--hauteur-au-dessus-navigation-principale)); /** Si position sticky: ajuster en fonction des taille d'écran pour que le menu soit positionner sur le bandeau des pages */
  position: sticky;
  z-index: 9999;
  right: 0;
  left: 50%;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: $white;

  > .wp-block-columns {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    margin-bottom: 0; 

    @media (min-width: $bp-md) {
      padding-left: 5vw;
      padding-right: 5vw;
    }

    @media (min-width: $bp-lg) {
      width: 100%;
      display: inline-flex;
    }

    .wp-block-navigation__responsive-container-open {
      &.wp-block-ocade-blocks-burger-btn { 
        margin-right: 1rem;

        @media (min-width: 600px) { display: none !important;} 
      }
    }

    .wp-block-column {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 0;
      align-items: center;
      justify-content: space-between;

      .wp-block-site-logo {
        a { display: inline-flex; }

        img {
          max-width: 100px;

          @media (min-width: $bp-xs) {
            max-width: 100%;
          }
        }
      }

      .wp-block-columns {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;

        @media (min-width: $bp-md) {
          margin-right: 0;
        }

        a {
          &::before { background-color: $primary-700; }
          &:hover::before { background-color: $primary-900; }
        }

        &:first-child {
          flex: 1 1 auto;
          
          .wp-block-column {
            justify-content: center;

            @media (min-width: 600px) { justify-content: space-between; }

            > div { margin-right: 0;               }

            a {
              margin: 0;
              margin-right: 1rem;
            }
          }
        }

        &:nth-child(2) {
          margin-right: 0;
          width: 100%;

          @media (min-width: $bp-lg) {
            width: auto;
          }
        }
      }

      form {
        width: calc(100% - 6rem);
        margin-left: .5rem;
        margin-right: 1rem;
        margin-bottom: 0 !important;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media(min-width: 600px) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: .5rem;
        }

        @media (min-width: $bp-lg) {
          width: auto;
          min-width: 300px;
          margin-left: 1rem;
        }

        .wp-block-search__inside-wrapper {
          position: relative;
          padding: 0.5rem;
          border: 1px solid $supports-700;
          border-top-left-radius: 4px;

          button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 0 1rem;
            background-color: $primary-700;
            border-top: none;
            border-right: none;
            border-bottom: none;

            &:hover {
              background-color: $primary-900;
            }

            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }
}